html, body {margin : 0px;padding:0;background-color: #eaeaea;font-family: sans-serif;}

/*** NOTIFICATION BLOCK ***/

.notification {
    background-image : linear-gradient(to bottom, #dff0d8 0px, #c8e5bc 100%);
    border : 2px solid #d6e9c6;
    color : #3c763d;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    position: absolute;
    z-index: 2001;
    right:5px;
    font-size: 0.8em;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);
    position: fixed;
    /*animation jquery:*/
    display: none;
}

.notification > span{float: right;margin-top: 5px; margin-left: .3em;}
.notification > p{margin-left: 10px;}

/*** NAVIGATION BAR ***/

#header_logo { width: 140px;height: 40px;vertical-align:middle;}
#header {width:100%;background-image: linear-gradient(to bottom, #fff, #f2f2f2);border-top: 4px solid #5270a3;position: fixed;z-index: 2000;}
.header_block {
    margin-left: 0;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 90%;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 60px;
}
#header nav ul li {display: inline-block;margin-left: 30px;vertical-align:middle;}
#header nav ul li a {
    color: #616a77;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 0px;
    transition-duration: 0.2s;
    transition-property: all;
    padding-bottom: 10px;
}
#header nav ul li a:hover {
    border-bottom: 4px solid #59a8b4;
    color: #444444;
}

#header_input {
    text-decoration: none;color: black;display: inline-block;
    margin: 20px;
    padding: 8px 15px;
    background-color: #6c7492;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);
    transition: all .4s;
    font-family: sans-serif;
    cursor: pointer;
    float: right;
    margin-right: 30px;
}
#header_input:hover {background: #7e8fd0;color: white;}

/*** SLIDER ***/

#heading {padding-top:100px;width: 100%;height: 400px;overflow: hidden;}
.heading_pic {height: 600px;}
#heading ul {/* 3 images donc 3 x 100% */width: 300%;height: 400px;padding:0; margin:0;list-style: none;}
#heading li {float: left;}

/*** SHARE BOXES ***/

.share_boxes {position:absolute;z-index:2000;width: 40px;height: 120px;margin-top: 12%;}
.box { display:block;width: 100%;height: 40px;border: 1px solid grey inset;}
.box img{width: 30px;margin: 5px;}
#twitter {background-color: #55acee;}
#facebook {background-color: #3b5998;}
#google {background-color: #d6492f;}

/*** ABOUT SECTION ***/

#about {
    position: relative;
    color:#424753;
    margin-top:0;
    background-color: white;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.about_title {line-height: 6;text-align: center;margin-bottom: 20px;}
/* Pas de champ about_ pour les 3 classes suivantes car ré-utilisables ailleur */
.text_1 {line-height: 2; width:45%;display: inline-block;text-align: justify;
            margin-top: 60px; opacity:0;padding-right:4%;border-right: 1px solid #616a77;}
.text_2 {line-height: 2; width:45%;display: inline-block;text-align: justify;
            margin-top: 60px; opacity:0;padding-left:4%;}
.text_3 {line-height: 2;text-align: justify;margin-top: 80px; padding-bottom: 80px;opacity:0;}

/*** CASCADING SECTION ***/

#cascading {
    position: relative;
    margin:0;
    height: 200px;
    background-image: url("../ressources/slider_accueil/pic4.jpg");
    background-attachment: fixed;
}
#cascading h1 {color: white;text-align: center;line-height: 8;letter-spacing: 10px;opacity: 0;}

/*** TEAM SECTION ***/

#team {
    position: relative;
    color:#424753;
    margin-top:0;
    background-color: white;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px; 
}
.team_title {line-height: 6;text-align: center;margin-bottom: 20px;}
.team_text {line-height: 2; width:100%;display: inline-block;text-align: justify;}
.team_list {list-style: none; opacity:0;margin-left: 20px;}
.team_member {cursor:pointer;width:30%;display: inline-block; padding:5px;margin: 5px; margin-left: 10px;background-color: #95c8d6;border-radius: 4px;}
.team_member:hover {background-color: #5780bd;transition:600ms;}
.team_member img {
    width: 60px;
    box-shadow:  2px 1px 2px #333333; /*horizontal vertical fondu couleur (+inset pour inverser l'orientation*/
    margin-right: 20px;
    border-radius: 50%;
    float: left;
    display: inline-block;
    margin-top: 8px;
    margin-left: 8px;
}
.team_member div {border-left: 1px dashed #616a77;padding-left: 5px;display: inline-block;}


/*** PROJECTS SECTION ***/


#content {overflow:hidden;padding-top:100px;margin-left: 10%;width: 80%;text-align: center;color:#424753;background-color: white;}
.content_title {line-height: 3;text-align: center;margin-bottom: 20px;}
#content a {text-decoration:none;height: 300px;display: inline-block;position: relative;}
#content a img {border:none; width: 100%; height: 300px;}
#content a span {display:none;position: absolute;top:25px; left: 25px;}
#content a:hover span {display: block;}
#content span.title {z-index:2;top:60px;color:#FFF;font-weight: bold; font-size: 1.2em;}
#content span.desc {z-index:2;top:90px;color:#BABABA;font-weight: bold; font-size: 0.9em;}
#content span.bg {top:0;left: 0;height: 300px;width: 100%;background-color:rgba(0,0,0,0.7);z-index:1;}
.element {overflow: hidden;}

/*** MEMBERS SECTION ***/

#members {padding-top:100px;
    color:#424753;
    margin-top:0;
    background-color: white;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;}
.member {display: inline-block;margin-left: 40px;margin-top: 10px;cursor: pointer;border-radius: 6px;}
.member:hover {background-color: #7db2bc;transition:600ms;}
.member img {
    width: 60px;
    box-shadow:  2px 1px 2px #333333; /*horizontal vertical fondu couleur (+inset pour inverser l'orientation*/
    margin-right: 20px;
    border-radius: 50%;
    float: left;
    display: inline-block;
    margin-top: 8px;
    margin-left: 8px;
}
.member div {border-left: 1px dashed #616a77;padding-left: 10px;display: inline-block;}
.members_list {background-color: #e4e6ef;width:80%;margin-left: 10%;border-bottom: 2px solid blue;
    padding-bottom: 10px;border-radius: 6px;box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 2px 4px rgba(0,0,0,0.1);}
.members-category {margin-left:10%;}

.members_link{text-decoration:none;}
.members_text{line-height: 2; width:100%;display: inline-block;text-align: justify;}

/*** PROFIL SECTION ***/

.profil_content {
    padding-top:100px;
    color:#424753;
    margin-top:0;
    background-color: white;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

.profil_content > ul {
    list-style-type: none;
    border-bottom: 1px solid grey;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 
    0 2px 4px rgba(0,0,0,0.1);
    line-height: 0.3;
    padding: 10px;
}

.profil_image {
    width: 120px;
    height: 120px;
    display: inline-block;
    float: right;
}

.profil_projects {
    width: 100%;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.2), 
    0 2px 4px rgba(0,0,0,0.1);
}

.profil_projects >* {
    width: 160px;
    height: 100px;
    cursor: pointer;
}

/*** LOGIN SECTION ***/

#login_picture {color: white;padding-top:100px;width: 100%; height: 200px;background-image: url("../ressources/images/pic1.jpg");}
#connection_field {
    padding-top: 100px;
    color:#424753;
    margin-top:0;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;padding-bottom: 200px;}
#connection_field form {padding-left: 10%;width: 80%;}
 
.info {margin: 20px;font-size: 1.6em;}
.connection_input {
  margin: 20px;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  color: #333;
  box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 2px 4px rgba(0,0,0,0.1);
   
}

.connection_input:focus { 
  outline: none;
  box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 0 4px rgba(0,0,0,0.1),
    0 0 5px 1px #51CBEE;
}

.connection_btn {
  float: left;
  margin: 20px;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  color: #333;
  background-color: #b9b9b9;
  box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 0 4px rgba(0,0,0,0.1);
}

.connection_btn:focus {background: #7e8fd0;color: white;}

/*** SIGN UP SECTION ***/

#signUp_picture {color: white;padding-top:100px;width: 100%; height: 200px;background-image: url("../ressources/images/pic2.jpg");background-position:0% 25%;}
#signUp_field {
    padding-top: 50px;
    color:#424753;
    margin-top:0;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;padding-bottom: 200px;}
#signUp_field form {padding-left: 10%;width: 80%;}

.SignUp_documents{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1px;
    width:auto;
    height:150px;
    border: 1px solid grey;
}
.SignUp_documents_buttons
{
    padding-right:13px;
}


.signUp_input {
  margin: 20px;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  color: #333;
  box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 2px 4px rgba(0,0,0,0.1);
   
}

.signUp_input:focus { 
  outline: none;
  box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 0 4px rgba(0,0,0,0.1),
    0 0 5px 1px #51CBEE;
}

.signUp_btn {
  float: left;
  margin: 20px;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  color: #333;
  background-color: #b9b9b9;
  box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 0 4px rgba(0,0,0,0.1);
}

.signUp_btn2{
  float: right;
  margin-bottom:10px;
  margin-right:5px;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  color: #333;
  background-color: #b9b9b9;
  box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 0 4px rgba(0,0,0,0.1);
}

.signUp_btn:focus {background: #7e8fd0;color: white;}

.info2 {margin: 20px;font-size: 1.0em;}
.info3 {margin: 20px;font-size: 1.6em;}
.info4 {margin-left: 20px;font-size: 1.0em;}

/*** PRIVATE INDEX SECTION ***/

#buttons_group_gestion {
    text-align:center;
}

.button_gestion {
    font-size:1.2em;
    margin: 20px;
    border: none;
    border-radius: 4px;
    padding: 15px 30px 15px 30px;
    color: #333;
    background-color: #b3b3ff;
    box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 0 4px rgba(0,0,0,0.1);
    line-height: 6;
}

.button_gestion:focus {background: #7e8fd0;color: white;}
#private_navig {
    padding-top: 80px;
}

/* Override de certaines classes et ids de jquery_ui */

.ui-widget-header {
    border: 1px solid #333e66;
}

.ui-tabs {
    position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    padding: 0;
}

.ui-tabs-anchor {
    color: grey;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #333e66;
    background: #fdf5ce url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
    font-weight: bold;
    color: grey;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: #c77405;
    text-decoration: none;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
    margin-left: 10%;width: 80%;
}

/*** ADMIN SECTION ***/

.admin {
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
}

.admin2 {
    margin-top: 50px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    width:10%; 
}
th {
    border: 1px solid black;
}

.add_user {
    position: absolute;
    top: 520px;
    right: 90px;
    width: 40px;
    height: 40px;
}


#section_admin{
width: 80%;
padding-left: 10%;
font-family: sans-serif;
padding-right: 10%;

}
/*** MANAGE TEAM SECTION ***/
#manage-team{padding-top:100px;
    color:#424753;
    margin-top:0;
    background-color: white;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;}
.manage_team_title{}
.manage_team_list{background-color: #e4e6ef;width:98%;margin-left: 1%;border-bottom: 2px solid blue;
    padding-bottom: 10px;border-radius: 6px;box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 2px 4px rgba(0,0,0,0.1);}

#manageTeamButton{ margin-left: auto;margin-right: auto;display:block;width:auto; color: #333;background-color: #b3b3ff;}
.manage_team_td{text-align: left;border: 0;}
.manage_team_th{border: 0;}
.manage_team_th_checkbox{text-align: left;border: 0;}

/*** CONTACT FORM SECTION ***/
#contact-form{padding-top:100px;
    color:#424753;
    margin-top:0;
    background-color: white;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;}
.contact_form_title{}

/*** DATA SECTION ***/

#data {padding-top:100px;
    color:#424753;
    margin-top:0;
    background-color: white;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;}


/*** FOOTER ***/

#footer {position: relative;float: bottom; background-color: #312f38;width: 100%;margin-top: 20px;}
#footer_container h5 {display:inline-block;margin-left: 4%;color: #f0f0f0;}
#footer_container {padding-bottom: 40px;width: 100%;padding-top: 40px;}

#footer_input {
    text-decoration: none;color: black;
    margin: 20px;
    padding: 8px 15px;
    background-color: #6c7492;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),
    0 2px 2px rgba(0,0,0,0.3),
    0 0 4px 1px rgba(0,0,0,0.2);
    transition: all .4s;
    font-family: sans-serif;
    cursor: pointer;
    margin-left: 30%;
}
#footer_input:hover {background: #7e8fd0;color: white;}


/*** APROPOS POPUP ***/

.apropos_popup {
    width: 600px;
    background-color: white;
    position: absolute;
    left:25%;
    top: 200px;
    padding: 40px;
    text-align: center;
    text-align: justify;border-radius: 8px;
    color: grey;
    border: 1px solid #c94e50;
}

.apropos_input { 
    background-color: white;
    color: #c94e50;
    width: 80px;
    height: 50px;   
    font-size: 1.5em;
    padding: 10px 30px 10px 30px;
    border: 1px solid #c94e50;
    cursor: pointer;
    margin-left: 40%;
}

.apropos_input:hover { 
    background-color: #c94e50;
    color: white;
}











